@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

body{
    font-family: 'Rubik', sans-serif;
}

.app-container .app-row {
    display: flex;
}

.app-container .app-row .app-col1{
    flex: 0 0 23%;
    max-width: 23%;
}

.app-container .app-row .app-col2{
    flex: 0 0 77%;
    max-width: 77%;
}

a{
    text-decoration: none !important;
}

@media screen and (max-width: 500px){
    .app-container .app-row .app-col2{
        flex: 0 0 100%;
        max-width: 100%;
    }   

    .app-container .app-row .app-col1{
        flex: 0;
    }

    .app-container .app-row{
        display: block;
    }
}
